---
import background from '../assets/background.svg';
---
<div>
    <!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
    <h1 class=" text-9xl text-red-700">hola</h1>

</div>
