---
import background from '../assets/background.svg';
---
<!-- <img id="background" src={background.src} alt="" fetchpriority="high" class=" fixed top-0 left-0 w-full h-full blur-3xl opacity-50 " /> -->

<main class=" w-full p-0 h-full bg-gradient-to-bl from-neutral-900 via-neutral-850 to-neutral-950">
    <div class="w-full h-screen justify-center bg-[url('../../img/fondo3.jpeg')] bg-cover bg-center z-[-1] ">
        <div class="gap-50 h-full flex items-center pl-80 bg-gradient-to-b from-neutral-900/5 via-neutral-950/70 to-neutral-950/90">
            <div class="flex flex-col justify-center items-left">
                <h1 class=" text-9xl text-neutral-100/80  font-bold ">Currículum<br>Vitae</h1>
                <h2 class="text-4xl text-neutral-200 px-8 pt-3.5 ">Lanati, Candela</h2>
                <div class="absolute z-0 left-175 top-117 border-2 border-neutral-100/50 rounded-xl h-18 w-65 flex justify-center items-center">
                    <h2 class="font-extralight  text-5xl text-neutral-100/70">+ portfolio</h2>
                </div>
            </div>
            <!-- svg + estudios -->
            <div class="flex flex-col gap-5">
                <div class="flex  justify-center items-center gap-4">
                    <div class=" flex  justify-center items-center bg-neutral-800/20 backdrop-blur-xl rounded-xl w-15 h-15 border-2 border-neutral-800/20">
                        <svg class=" h-10 w-10 text-neutral-400" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-graduation-cap-icon lucide-graduation-cap"><path d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"/><path d="M22 10v6"/><path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"/></svg>
                    </div>
                    <div class="flex  justify-center items-center bg-neutral-800/20 backdrop-blur-xl rounded-xl w-90 h-15 border-2 border-neutral-800/20" title="Instituto Politecnico Superior (UNR)">
                        <h3 class="text-violet-100/70 text-xl px-5 " title="Instituto Politecnico Superior (UNR)">Técnica en Informática</h3>
                    </div>
                </div>
                <div class=" flex justify-center items-center gap-4">
                    <div class=" flex  justify-center items-center bg-neutral-800/20 backdrop-blur-xl rounded-xl w-15 h-15 border-2 border-neutral-800/20">
                        <svg class="h-10 w-10 text-neutral-400" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-spline-pointer-icon lucide-spline-pointer"><path d="M12.034 12.681a.498.498 0 0 1 .647-.647l9 3.5a.5.5 0 0 1-.033.943l-3.444 1.068a1 1 0 0 0-.66.66l-1.067 3.443a.5.5 0 0 1-.943.033z"/><path d="M5 17A12 12 0 0 1 17 5"/><circle cx="19" cy="5" r="2"/><circle cx="5" cy="19" r="2"/></svg>
                    </div>
                    <div class=" bg-neutral-800/20 flex flex-col justify-center items-center backdrop-blur-xl rounded-xl w-90 h-15 border-2 border-neutral-800/20" title="Escuela Da Vinci">

                        <h3 class="text-violet-100/70 text-xl px-5 " title="Escuela Da Vinci">Estudiante de Diseño Multimedial</h3>
                    </div>
                </div>
                <div class=" flex justify-center items-center gap-4">
                    <div class=" flex  justify-center items-center bg-neutral-800/20 backdrop-blur-xl rounded-xl w-15 h-15 border-2 border-neutral-800/20">
                        <svg  class="h-10 w-10 text-neutral-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-terminal-icon lucide-terminal"><polyline points="4 17 10 11 4 5"/><line x1="12" x2="20" y1="19" y2="19"/></svg>
                    </div>
                    <div class=" bg-neutral-800/20 flex flex-col justify-center items-center backdrop-blur-xl rounded-xl w-90 h-15 border-2 border-neutral-800/20" title="CODERHOUSE">

                        <h3 class="text-violet-100/70 text-xl px-5 " title="CODERHOUSE">Estudiante de Desarrollo Full Stack</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class=" flex mx-50 mt-20 justify-center items-center">
        <div class="w-1/3 ">
            <div class="rounded-xl w-90 h-100 bg-[url('../../img/fondo4.jpeg')] bg-cover bg-center z-[0] absolute left-50 border-2 opacity-25"></div>
            <div class="flex flex-col items-center  bg-gradient-to-b from-neutral-100/5 to-neutral-100/30 justify-center backdrop-blur-2xl rounded-xl w-90 h-100 border-2 border-neutral-400">
                <h3 class="text-6xl font-bold text-neutral-200 ">Un poco <br>sobre mi</h3>
                <svg class=" text-purple-300 w-30 h-30 mt-10" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scan-face-icon lucide-scan-face"><path d="M3 7V5a2 2 0 0 1 2-2h2"/><path d="M17 3h2a2 2 0 0 1 2 2v2"/><path d="M21 17v2a2 2 0 0 1-2 2h-2"/><path d="M7 21H5a2 2 0 0 1-2-2v-2"/><path d="M8 14s1.5 2 4 2 4-2 4-2"/><path d="M9 9h.01"/><path d="M15 9h.01"/></svg>
            </div>
        </div>
        <div class="w-2/3 flex flex-col gap-8 justify-center">
            <p class=" text-lg text-neutral-200 ">Tengo 21 años y soy estudiante de <strong class=" text-fuchsia-300 font-normal ">Diseño Multimedial</strong> en la <a href="https://davinci.edu.ar/" target="_blank">Escuela Da Vinci</a> y de <strong class=" text-fuchsia-300 font-normal ">Desarrollo Full Stack</strong> en <a href="https://www.coderhouse.com/ar/" target="_blank">Coderhouse</a>. Actualmente vivo en Rosario, donde cursé el secundario técnico en el Instituto Politécnico Superior, dependiente de la Universidad Nacional de Rosario (UNR), y obtuve el título de <strong class=" text-fuchsia-300 font-normal ">Técnica en Informática Profesional y Personal</strong>.</p>
            <p class=" text-lg text-neutral-200 ">Mi camino académico también incluyó un paso por Diseño Gráfico, hasta que descubrí que mi verdadera pasión está en el <strong class=" text-pink-300 font-normal ">universo digital</strong> : pantallas, web, redes y experiencias interactivas.</p>
            <p class=" text-lg text-neutral-200 ">Hoy combino mis intereses en <strong class=" text-pink-300 font-normal ">diseño UI, desarrollo web y edición de video</strong>. Trabajo habitualmente con herramientas como Adobe Illustrator, Photoshop, Premiere Pro y After Effects.</p>
            <p class=" text-lg text-neutral-200 ">Me considero detallista, responsable y adaptable. Disfruto trabajar en equipo, organizarme bien y aprender constantemente. </p>
            <div class=" p-3 border-pink-100 rounded-xl bg-gradient-to-r from-neutral-100/20 via-pink-200/30 to-neutral-100/20 w-230 flex justify-center">
                <p class="text-neutral-200">Estoy en búsqueda de <strong class=" text-neutral-100 font-medium italic">oportunidades de trabajo que me permitan seguir creciendo mientras continúo con mis estudios</strong>.</p>
            </div>
        </div>
    </section>
    <p class=" text-lg text-neutral-200 mt-15 text-center">Gracias por visitar mi web! Te invito a explorar mi portfolio y conocer más sobre mi trabajo :)</p>
</main>