<nav class="flex justify-center ">
    <div class=" mt-2.5 w-10/12 bg-neutral-200/30  backdrop-blur-2xl fixed h-10 rounded-xl flex items-center">

        <ul class="flex justify-around w-full">
            <li><a href="" class=" text-neutral-100 ">Inicio</a></li>
            <li><a href="" class=" text-neutral-100 ">Proyectos</a></li>
            <li><a href="" class=" text-neutral-100 ">Estudios</a></li>
            <li><a href="" class=" text-neutral-100 ">Contacto</a></li>
        </ul>
    </div>
</nav>